/* h menu */
.hrmenu{
    height: 32px;
}
.hrmenu ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}
.hrmenu ul li{
    text-align:center;
    background-color: #fcefe3;
    position: relative;
}
.hrmenu ul li a{
    padding: 10px 10px 10px 10px;
    color: #003059;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.hrmenu ul li a:hover{
    background-color: #003059;
    color: #FFF;
}
.hrmenu > ul > li{
    float:left;
    padding: 0px 10px;
}

.cont{
    background-color :#fcefe3;
    height: 41px;
   }